%formElements {
    height: 50px;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.formButton {
    @extend %formElements;
    line-height: 24px;
    padding: 0 15px;
    border: 3px solid $color_white;
    outline: 3px solid $color_black;
    color: $color_orange;
    background: $color_black;
    text-decoration: none;
}

.formInput {
    @extend %formElements;
    min-width: 50%;
    line-height: 50px;
    padding: 0 0 0 20px;
    border: 3px solid $color_orange;
    background: $color_white;

    &::placeholder {
        margin-bottom: 20px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: grey;
    }

    &:focus {
        background: white;
    }
}

.formSelect {
    @extend %formElements;
    line-height: 24px;
    padding: 0 15px;
    border: 3px solid $color_orange;
    color: grey;
    background: $color_white;

    &:focus {
        background: white;
    }

    option {
        font-weight: 600;
        font-size: 24px;
        color: $color_black;
        background: white;

        &:hover {
            background: $color_orange;
        }
    }
}