.header {
    width: 100vw;
    height: 10vh;

    &__container {
        width: 100vw;
        min-height: 10vh;
        padding: 0.8rem 2rem;
        background: $color_orange;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        //flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: inline-block;
        margin: 0.5rem;
        font-size: 2.5rem;
        font-weight: 800;
        background: $color_black;
        color: $color_white;
        padding: 0.5rem;
        border: 3px solid $color_white;
        outline: 3px solid $color_black;
        border-radius: 1rem;

        span {
            margin: 0.2rem;
            font-weight: lighter;
            color: $color_orange;
            text-decoration: underline;
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color_orange;
        height: auto;
        padding: 0.5rem;

        img {
            display: none;
        }

        @media only screen and (max-width : 1280px) {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            border-radius: 0 0 1rem 1rem;
            transition: top 0.5s ease-in;

            &.active {
                top: calc(10vh - 0.5rem);
            }
        }

        @media only screen and (max-width : 600px) {
            flex-direction: column;
            align-items: baseline !important;
            justify-content: flex-start !important;
            width: 70.2vw;

            select {
                height: 0;
                border: 0px solid $color_orange;
                transition: height 0.5s ease-in;
            }

            img {
                display: block;
            }

            select,
            input {
                max-width: none !important;
                width: 50vw;
            }
        }
    }

    &__sort {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;

        img {
            scale: 1 !important;
            padding: 1rem 0.5rem !important;
        }

    }

    &__search {
        display: none;

        @media only screen and (max-width : 1280px) {
            display: block !important;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            display: flex;
            position: relative;
            margin: 0 2rem 0 0rem;

            a {
                border-radius: 50%;
                text-align: center;
                position: relative;

                div {
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    color: $color_white;
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    text-align: center;
                    background: $color_red;
                    font-weight: 800;
                    line-height: 1.4rem;
                    animation: count 0.4s ease-in 0s 1 normal none;
                }

                &:after {
                    content: '' attr(popupMessage)'';
                    position: absolute;
                    bottom: -0.8rem;
                    left: 2rem;
                    color: $color_white;
                    font-size: 1.3rem;
                    padding: 0.2rem;
                    opacity: 0;
                    transition: all 0.5s 0.8s;
                }

                &:hover:after {
                    opacity: 1;
                }
            }

            @keyframes count {
                0% {
                    top: -100%;
                }

                100% {
                    top: 0%;
                }
            }
        }

        @media only screen and (max-width : 600px) {
            position: fixed;
            top: -30vh;
            right: -0%;
            flex-direction: column;
            background: $color_orange;
            border-radius: 0 0 0 2rem;
            padding: 2rem;
            transition: all 0.5s ease;
            width: 30vw;
            opacity: 0;

            &.active {
                top: 10.5vh;
                opacity: 1;
            }

            nav {
                flex-direction: column;
            }
        }
    }

    &__burger {
        display: none;

        @media only screen and (max-width : 600px) {
            display: block !important;
        }
    }

    img {
        padding: 1rem;
        scale: 1.2rem;
        filter: invert(100%);
        transition: all 0.7s ease 0s;
    }

    .active>img {
        scale: 1.4;
        filter: invert(0%);
        transition: all 0.7s ease 0s;
    }

    .active~select {
        height: 3rem;
        border: 3px solid $color_orange;
    }
}