.Loader {}

.Loader>p {
    color: white;
    font-size: 2.5rem;
    border-radius: 25px;
    padding: 2rem;
}

.Loader>div {
    margin: 2rem auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5rem dotted white;
    animation: loader 2.5s linear 0s infinite normal none;
}

@media only screen and (max-width : 600px) {
    .Loader>p {
        font-size: 2rem;
    }

    .Loader>div {
        width: 8rem;
        height: 8rem;
        border: 1rem dotted white;
    }
}

@keyframes loader {
    0% {
        rotate: 0deg;
        scale: 1;
    }

    50% {
        rotate: 180deg;
        scale: 1.2;
    }

    100% {
        rotate: 360deg;
        scale: 1;
    }
}